@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --dark-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --white: #ffffff;

    --gradient: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    --line: hsl(240, 5%, 91%);
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    background-image: var(--gradient);
    color: var(--dark-blue);
    font-size: 12px;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.card {
    display: flex;
    width: 100%;
    max-width: 900px;
    min-height: 500px;
    background-color: var(--white);
    position: relative;
    border-radius: 2rem;
}
.card-content {
    width: 60%;
    padding: 1rem 1.5rem;
}
.illustration-box {
    width: 45%;
    background: url('../images/illustration-woman-online-desktop.svg') right no-repeat;
}
.box {
    margin-top: 2rem;
    position: absolute;
    left: 225px;
}
.faq-container{
    display: block;
    padding:1.1rem 0 1rem;
    border-bottom: 1px solid var(--line);
    cursor: pointer;
}
.card-heading {
    margin-bottom: 1.5rem;
}
.faq-item{
    margin-top: 1rem;
    display: none;
    height: auto;
}
.input + span span.faq-item,
.faq-container span.heading {
    transition: all 250ms;
}
.faq-container span.heading:hover{
    color: var(--soft-red);
 }

.faq-button{
     visibility: hidden;
     height: 0;
     width: 0;
     position: absolute;
 }

input:checked + span span.heading{
    font-weight: bold;
}
input:checked + span span.faq-item{
    display: block;
}
span.heading{
    display: flex;
    justify-content: space-between;
}
span.faq-content span.heading::after{
    content: url("../images/icon-arrow-down.svg");
    padding: 0 0.5rem;
    transition: transform 0.2s;
}
input:checked + span span.heading::after{
    transform: rotate(-180deg);
}
