:root {
    --blue: #00abfb;
    --white: #ffffff;
    --font-co: #dbdbdb;
    --font-gray: #6e767d;
    --hover-bg: #031019;
    --border-gray: #353535;
    --bg-black: #000000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-black);
    color: var(--font-co);
}
a {
    color: var(--font-co);
    font-weight: bold;
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
}
.container {
    width: 85%;
    padding: 0 1rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.hover:hover {
    background-color: var(--hover-bg);
}
/* SIDEBAR */

.nav-brand {
    padding: 0 0.8rem;
    cursor: pointer;
}
.nav-item a {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
    border-radius: 50px;
}
.nav-item a .icon {
    width: 28px;
}
.nav-item a.active,
.nav-item a.active svg {
    color: var(--blue);
    stroke: var(--blue);
}

.nav-item a:hover{
    color: var(--blue);
}
.nav-item a svg {
    margin-right: 1rem;
}
a svg:hover {
    stroke: var(--blue);
}
.btn {
    width: 80%;
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    font-size: 20px;
    color: var(--white);
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 0.5rem;
    background-color: var(--blue);
}

/* FEED */
.feed {
    border-right: 1px solid var(--border-gray);
    border-left: 1px solid var(--border-gray);
}
.feed__header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feed__status {
    display: flex;
    padding: 1rem;
    border-top: 1px solid var(--border-gray);
    border-bottom: 1px solid var(--border-gray);
}
.profile__img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.status__info {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 100%;
}
.status__info input {
    background-color: var(--bg-black);
    border: none;
    outline: none;
    font-size: 20px;
    color: var(--font-co);
    padding: 0.8rem 0 0.2rem;
}
input::placeholder {
    font-size: 22px;
}
.btn-icon-lg {
    max-width: 160px;
}
.btn-icon {
    border-radius: 50px;
    display: flex;
    align-items: center;
    color: var(--blue);
    background: none;
    font-weight: 600;
    font-size: 12px;
}
.btn-icon .icon {
    width: 1.8rem;
    padding: 0 0.2rem;
}
.status__more {
    display: flex;
    justify-content: space-between;
}
.action__btn{
    display: flex;
}
.action__btn button {
    margin: 0.5rem 0.5rem 0.5rem 0;
    width: 2rem;
    height: 2rem;
}
.btn-twwet {
    padding: 0.2rem;
    max-width: 80px;
    font-size: 16px;
    font-weight: 600;
    background: #0e5079;
}
.feed__body {
    padding: 1rem;
    display: flex;
}
.content__header {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.content__header span {
    font-size: 12px;
    font-weight: 600;
    color: var(--font-gray);
    margin: 0.5rem;
}
.content__body {
    margin-left: 1rem;
}
.card {
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--border-gray);
}
.card__image {
    width: 100%;
    height: auto;
}
.card__body {
    padding: 0.5rem;
}
.card__body .heading {
    font-size: 14px;
}
.card__body .small {
    font-size: 14px;
    color: var(--font-gray);
}